main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
}

h1 {
    text-align: center;
}


img {
    width: 100%;
    height: auto;
    background: #000;
    animation: fade 5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}