:root {
    --bg-color: rgb(144, 134, 129);
    --img-bg: rgb(190, 183, 176);
    --header-color:  rgb(37, 33, 33);
    --header-bg: rgb(38, 28, 20);
    --border-color: rgb(96, 93, 91);
}

body{
    background: var(--bg-color);
    margin: 0;
    padding: 0;
}

h1{
    margin: 0px;
    padding-top: 2rem;
    width: 100%;
    text-align: center;
    color: var(--header-color);
    background: linear-gradient();
}

header {
    height: 100px;
    margin-top: 0;
    background: linear-gradient(#00000000, #b5aca1);
}

main {
    margin: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

#cards section {
    background: var(--img-bg);
    border-radius: 1rem;
    overflow: hidden;
    border: solid 5px var(--border-color);
    margin: .5rem;
    padding: .2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#cards section img{
    box-shadow: 0 0 15px #000;
    margin: 15px;
}