:root {
    /*main colors*/
    --primary-color: #161008;
    --secondary-color: #5e503f;
    --accent1-color: #c6ac8f;
    --accent2-color: #22333b;
    --accent3-color: #eec566;

    --heading-font: "Bitter", Arial, sans-serif;
    --paragraph-font: "PT Sans", Verdana, sans-serif;

    --headline-color-on-white: #161008;
    --headline-color-on-color: #eec566;
    --paragraph-color-on-white: #161008;
    --paragraph-color-on-color: #f4f1ef;
    --paragraph-background: #161008;
    --nav-link-color: #eec566;
    --nav-background: #161008;
    --nav-hover-link-color: #f4f1ef;
    --nav-hover-background: #5e503f;
    --btn-color: #161008;

    --bord: rgb(255, 255, 255);
    --bord-dark: rgb(61, 61, 61);
    --shadow: rgba(54, 54, 54, 0);
    --zebra: #e1d7cb;
    --table-head: #4a4136;

    /*member colors*/
    --np: #007bff;
    --bronze: #CD7F32;
    --silver: #C0C0C0;
    --gold: #eec566;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--paragraph-font);
}

.darken {
    display: none;
}

picture {
    background: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--nav-link-color);
}

a:hover {
    color: var(--nav-hover-link-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-grow: 1;
}

.logo {
    height: auto;
    width: 60%;
}

#hero {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

#hero img {
    height: auto;
    width: 100%;
}

#hero-msg {
    padding: 30px;
    background: var(--primary-color);
}

#hero-msg h1,
#hero-msg h2 {
    color: var(--accent3-color);
}

#hero-msg h2 {
    font-size: 1.4rem;
}

.button-box {
    margin-top: 25px;
}

#menu::before {
    color: #f4f1ef;
    content: "☰";
}

#menu.open::before {
    content: "X";
}

#join,
.join-button {
    color: var(--paragraph-color-on-white);
    font-size: 1.5rem;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    background: var(--accent3-color);
}

#join {
    position: absolute;
    top: 2rem;
    right: 5rem;
}

.join-button:hover,
#join:hover {
    color: var(--paragraph-color-on-white);
    background: var(--accent1-color);
}

#menu {
    font-size: 1.5rem;
    border: 1px solid #f4f1ef;
    padding: 3px 7px 6px;
    background: var(--btn-color);
    position: absolute;
    top: 2rem;
    right: 1rem;
}

header,
nav,
main,
main section {
    max-width: 850px;
    margin: 0 auto;
}

header {
    background: var(--main-color);
    display: flex;

    justify-content: left;
    align-items: center;

    height: 100px;
}

header {
    background: var(--primary-color);
}

/*navigation*/

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

.navigation li a {
    display: block;
    padding: 15px;
    text-align: left;
    text-decoration: none;
    color: var(--nav-link-color);
}

.navigation {
    background: var(--nav-background);
    display: flex;
    flex-direction: column;
    list-style: none;
}

nav a:hover {
    color: var(--nav-hover-link-color);

    background: var(--nav-hover-background);
}

.navigation li {
    display: none;
}

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.active::before,
.active::after {
    content: " ~ ";
}

/*main*/

main hr {
    margin-top: 100px;
    margin-bottom: 25px;
}

main {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;

    gap: 15px;
}

.weather {
    background: var(--secondary-color);
    text-align: center;
    width: 100%;
    padding: 10px;
}

.weather p,
.weather h2,
.weather h3 {
    color: var(--paragraph-color-on-color);
}

.events {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.event {
    width: auto;
    border-radius: 10px;
    overflow: hidden;
    background: var(--accent1-color);
}

.event img {
    height: auto;
    width: 100%;
}

.container {
    padding: 6px 16px 16px;
}

.container h3 {
    margin-bottom: 15px;
}



.member-box .carousel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /*background-image: url("../images/hands.jpg");
    background-repeat: no-repeat;
    background-size: 100%;*/
}

.social img {
    height: auto;
    width: 100%;
}

.card img {
    height: auto;
    width: 100%;
}

.card {
    width: 250px;
}

.carousel .card {
    display: flex;
    flex-direction: column;
}

.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.carousel .card span {
    color: var(--accent2-color);
    font-size: 1.31rem;
}

/*fpoter*/

.social {
    display: flex;
    padding: 16px;
    gap: 20px;

    justify-content: center;
}

.copy-box {
    text-align: center;
    justify-self: self-end;
}

.contact-box p {
    text-align: center;
}

.link-box {
    padding-left: 25px;
    padding-top: 10px;
    flex-grow: 1;
}

.link-box a img {
    width: 150px;
    height: auto;
}

footer hr {
    margin-bottom: 25px;
}

footer h2 {
    color: var(--headline-color-on-color);
}

.foot-links li {
    margin-top: 25px;
}

footer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    color: var(--paragraph-color-on-color);
    background: var(--primary-color);

    padding: 15px;
    padding-bottom: 25px;
    height: 800px;
}

.carousel-container {
    margin: 0 auto;
    width: 50%;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 31.5%;
    margin-right: 20px;
    position: relative;
    text-align: center;
}

.slide img {
    max-width: 100%;
    height: auto;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    text-align: center;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/*discover*/

.visits,
.map {
    text-align: center;
    font-size: 1.5rem;
}

.sidebar {
    padding: 30px;
}

.sidebar div {
    margin-bottom: 50px;
}

iframe {
    border-radius: 15px;
    margin-top: 15px;
}

.side-content {
    background: var(--accent2-color);
    padding: 15px;
    color: white;
    border-radius: 10px;
}

.side-content h2 {
    color: #eec566;
}

.calendar {
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.button {
    background: var(--secondary-color);
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.days {
    display: flex;
}

.day {
    flex: 1;
    text-align: center;
}

.dates {
    display: flex;
    flex-wrap: wrap;
}

.date {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid var(--accent1-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.current {
    background: var(--accent3-color);
}

.main-wrapper {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
}

.main-wrapper picture {
    background: none;
}

.main-wrapper picture img {
    width: 100%;
    height: auto;
}

.main-wrapper main {
    display: block;
}

.business {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.business figure {
    padding: 15px;
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
}

figure img {
    width: 100%;
    height: auto;
}

/*form*/

form {
    font-size: 1.6rem;
}

form input[type="text"],
form:first-child input {
    border: none;
    border-bottom: 1px solid var(--accent1-color);

    background: none;
}

form legend {
    color: var(--primary-color);
    padding: 15px;
}

.wapper-join main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-self: center;
}

.wapper-join {
    width: 100%;
    margin: 0 auto;
}

.form-container {
    margin-top: 25px;
    width: 100%;
    max-width: 600px;
}

form {
    margin-top: 10px;
}

.tiers {
    width: 100%;
    max-width: 800px;
    overflow: auto;
}

form label.top,
form label.sbs,
form div {
    display: block;
    padding-top: 2rem;
    color: var(--accent2-color);
    font-size: 1.2rem;
}

form label.top input,
form label.top textarea {
    display: block;
}

fieldset {
    border: none;
    background: #f6f3ee;
    border-radius: 15px;
}

form input {
    padding-top: 1.1rem;
}

#btnSubmit {
    margin-top: 15px;
    border-radius: 2rem;
    border: none;
    font-size: 1.5rem;
    padding: 15px;

    color: var(--primary-color);
    background: var(--accent3-color);
}

#btnSubmit:hover {
    background: var(--accent1-color);
}

form textarea {
    resize: none;
    border-radius: 10px;

    width: 100% !important;
    min-height: 250px;
    margin-top: 10px;
}

/*table*/

table {
    margin: 25px auto;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;

    font-size: 0.9rem;
}

caption {
    padding: 15px;
    caption-side: bottom;
}

thead {
    background: var(--secondary-color);
    color: var(--paragraph-color-on-color);
}

thead tr:last-child th {
    background: var(--table-head);
}

th,
td {
    padding: 12px 15px;
    font-size: 0.8rem;
}

tbody {
    background: #f4f1ef;
}

tbody tr:nth-child(even) {
    background: var(--zebra);
}

tbody td,
tbody th {
    border: thin solid var(--bord);
}

tbody td {
    text-align: center;
}

/*thanks*/

.thanks main {
    display: block;
    height: 400px;
    margin-top: 2rem;
}

/*Directory*/

.d-members.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
}

main#directory {
    display: block;
    width: 100%;
}

.d-members.grid .m-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    text-align: center;
}

.d-members.grid .card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 250px;
}

.d-members.grid .card-content {
    padding: 20px;
}

.d-members.grid .card-content h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.d-members.grid .card-content p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.d-members.grid .card-content p:last-child {
    text-align: left;
    padding: 1rem;
}

.d-members.grid .card-content a {
    display: inline-block;
    padding: 10px 20px;
    background: var(--accent3-color);
    color: var(--primary-color);
    border-radius: 5px;
}


.d-members.grid .card-content a:hover {
    background: var(--accent1-color);
}

.d-members.grid .np {
    color: #ffffff;
    background: var(--np);
}

.d-members.grid .bronze {
    color: #ffffff;
    background: var(--bronze);
}

.d-members.grid .silver {
    background: var(--silver);
}

.d-members.grid .gold {
    background: var(--gold);
}

.d-members.grid .card-membership {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.d-members.list {
    display: flex;
    flex-direction: column;
}

.d-members.list .m-card {
    width: 100%;
    background: #cabdad;
}

.d-members.list .m-card:nth-child(even) {
    background: #f0e7dd;
}

.d-members.list .card-img {
    display: none;
}

.d-members.list .card-content {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr;
    gap: 2rem;
}

.d-members.list .card-content h3 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.d-members.list .card-content p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.d-members.list .card-content p:last-child {
    display: none;
}

.d-members.list .card-content a {
    display: inline-block;
    color: var(--accent2-color);
    margin-bottom: 10px;
    background: none;

}


.d-members.list .card-content a:hover {
    background: none;
}

.d-members.list .card-membership {
    display: none;
}