:root {
    /*main colors*/
    --bg-color: #FFF2DF;
    --main-color: #FF773D;
    --nav-color: #32292F;
    --foot-color: #32292F;
    --hover-color: #6E8387;
    --sec-color: #DD614A;
    --a-color: #47008e;
    --white: #fdfbf7;
    --btn-color: #FFF2DF;

    --text-color-p: #12090F;
    --text-color-h: #12090F;
    --text-color-on-h: #12090F;
    --text-hover: #12090F;
    --text-color-nav: #FFFBF5;
    --text-color-foot: #FFFBF5;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;

    background: var(--bg-color);
    font-family: 'Poppins', sans-serif;

    display: flex;
    flex-direction: column;
}

.hero {
    position: relative;
    z-index: -1;
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }

.hero img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(-80%, -30%);
    color: #fff;
    text-align: center;
    background: #32292F;
    padding: 5px;

}

iframe {
    grid-column: span 2;
    width: 100%;
}
.wrap {
    flex-grow: 1;
}

header,
nav,
main {
    max-width: 700px;
    margin: 0 auto;
}

header {
    background-color: var(--main-color);
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 25px;

    height: 200px;
}

main {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 25px;
}

main section p {
    text-align: center;
}

.card {
    background-color: var(--white);
    border: #32292F solid;
    border-radius: 15px;
    height: 350px;
    color: var(--text-color-p);

    overflow: hidden;
}

.header-container h2 {
    color: var(--text-color-on-h);
}

.card h3 {
    margin-top: 0;
    padding: 15px;
    text-align: center;
}

.card ul {
    padding: 15px;
}

.header-container {
    grid-column: span 2;
    text-align: center;
    margin: 0 0 35px;
}

h3 {
    color: var(--text-color-h);
    background: var(--main-color);
}

a {
    color: var(--a-color);
}

a:hover {
    color: var(--hover-color)
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}


.navigation li a {
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: var(--text-color-nav);
}

.navigation {
    background: var(--nav-color);
    display: flex;
    flex-direction: column;
    list-style: none;
}


.navigation li {
    display: none;
}

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}


#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 3px 7px 6px;
    background-color: var(--btn-color);
    position: absolute;
    top: 13rem;
    right: 1rem;
}

#mode {
    font-size: 1.5rem;
    padding: 3px 7px 6px;
    color: var(--nav-color);
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

nav a:hover {
    color: var(--nav-color);

    background-color: var(--hover-color);
}

footer {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background-color: var(--foot-color);
    color: var(--text-color-foot);

    padding: 15px;
    height: 200px;
}

.profile {
    height: auto;
    width: 7.5rem;

    border-radius: 15px;
}